# ignore all node_modules
node_modules/
backend/node_modules/

# ignore config file
backend/config/config.env

# ignore VS Code settings
.vscode/

backend/config/drive-credentials.json

# ignore generated backend documentation
be.md